
.update-form{
	border-radius: 10px;
	box-shadow: 20px 20px 50px #000;
	margin-top: 150px;
    height: 450px;
    background:  linear-gradient(to bottom, #0f0c29, #302b63, #24243e) !important;
    color: white;
}

.profile-title {
    color: white !important;
	padding-top: 3%;
    padding-bottom: 5%;
	font-size: 2em;    
    font-weight: bold;
    margin-left: 32%;
}

.update-button{
    width: 25% !important;;
    margin-left: 20% !important;
}

.delete-button{
    width: 25% !important;;
    margin-left:10% !important;
}