<<<<<<< Updated upstream
$color: steelblue;
=======


.movie-view{
	
	width: 550px;
	height: 800px;
	overflow: hidden;
	background:  linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	color: white;
	margin-left: 100%;
}

.movie-title {
	font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
>>>>>>> Stashed changes

.movie-image {
    height: 500px;
  
}