

.movie-view{
	padding: 20px;
	width: 550px;
	border-radius: 10px;
	box-shadow: 20px 20px 50px #000;
	color: white;
	
}

.movie-title {
	font-size: 2em;
    display: flex;
    margin: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.movie-description{
	padding: 20px;
}

.movie-image {
   margin-left:100px;
   width: 60%;
}

.movie-genre{
	padding-left: 20px;
	font-weight: bold;
}

.movie-director{
	padding-left: 20px;
	font-size: 0.9rem;
}