.navbar-logo{
    color:white !important;
}

.navbar-logo:hover{
    color:white !important;
}


.navbar-logo:visited{
    color:white !important;
}

.navbar-logo:hover{
	text-decoration: none !important;
    
}

.narvar-link{
    padding: 0 !important;
    color: rgba(255,255,255,.5) !important;
}

.active a{
    font-weight: bold !important;
     color:white !important;
}